.portfolio-item-individual {
  padding: 0 2em 2em;
  max-width: 1000px;
  margin: 0 auto;
}

.portfolio-item-individual p {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}

.btn-lg {
  display: flex;
  justify-content: space-between;
}

/* Button */
.btn-lg {
  padding: 0.5em 2.5em;
  background: var(--clr-accent);
  color: var(--clr-light);
  text-decoration: none;
  cursor: pointer;
  font-family: var(--ff-secondary);
  font-size: 1.125rem;
  text-transform: lowercase;
  letter-spacing: 2px;
  font-weight: var(--fw-bold);
  transition: transform 200ms ease-in-out;
}

.btn-lg:hover {
  transform: scale(1.1);
  outline: 3px solid var(--clr-accent);
  outline-offset: 3px;
}

.bold-text {
  font-weight: var(--fw-bold);
  color: var(--clr-accent);
}

@media (min-width: 800px) {
  :btn-lg {
    display: flex;
    flex-direction: column;
  }
}
