.portfolio-item-individual {
    padding: 0 2em 2em;
    max-width: 1000px;
    margin: 0 auto;
  }
  
  .portfolio-item-individual p {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
  }
  
  .bold-text {
    font-weight: 700;
  }
  
  /* psuedo element/decorative bar after title, must have '' with empty content to show up */
  .bold-text::after {
    content: "";
    display: block;
    width: 20em;
    height: 2px;
    margin: auto;
    margin-top: 2em;
    margin-bottom: 1em;
    background: var(--clr-accent);
    /* or currentColor to match accent color */
    opacity: 0.75;
  }