.portfolio-item-individual {
  padding: 0 2em 2em;
  max-width: 1000px;
  margin: 0 auto;
}

.portfolio-item-individual p {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}

.bold-text {
  font-weight: 700;
}

.img_container {
  width: 100%; /* Take up full width */
  max-width: 100vw; /* Maximum width equal to viewport width */
  height: auto;
  margin: 50px auto;
}

.img_mockup {
  max-width: 100%; /* Maximum width equal to container width */
  height: auto; /* Automatically adjust height */
  display: block; /* Ensure it doesn't have extra space below */
  margin: 0 auto;
}

/* psuedo element/decorative bar after title, must have '' with empty content to show up */
.bold-text::after {
  content: "";
  display: block;
  width: 20em;
  height: 2px;
  margin: auto;
  margin-top: 2em;
  margin-bottom: 1em;
  background: var(--clr-accent);
  /* or currentColor to match accent color */
  opacity: 0.75;
}

/* tablet landscape */
@media (min-width: 600px) and (max-width: 899px) {
  .section__title--intro {
    font-size: 1.5em;
  }
  .section__subtitle--intro {
    font-size: 1em;
    margin: 10px;
  }
}

@media (min-width: 800px) {
  .section__subtitle--intro {
    margin: 10px;
  }
}
