.footer {
  background: var(--clr-dark);
  color: var(--clr-light);
  text-align: center;
  padding-top: 1.5rem;
  padding-bottom: 2.5rem;
}

#email-address {
  font-size: var(--fs-body);
  font-weight: 700;
}

.footer__link {
  text-transform: lowercase;
  color: inherit;
  text-decoration: none;
  font-size: var(--fs-h3);
  font-weight: 700;
}

.footer__link:hover,
.social-list__link:hover {
  color: var(--clr-accent);
}

.footer__link:hover {
  text-decoration: none;
}

.social-list {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

.social-list__item {
  font-size: var(--fs-h2);
  margin: 0 0.5rem;
}

.social-list__link {
  color: var(--clr-light);
}

.container_impressum a {
  color: var(--clr-light);
  text-decoration: none;
  font-size: var(--fs-h3);
  font-weight: 700;
}

.credit {
  padding: 1rem 0;
}

