#intro-section {
  width: 100%;
  height: auto;
}

.items-container {
  width: 100%;
  margin: auto;
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
}

.div-img-bg {
  width: 60%;
  margin: auto;
  border: 20px solid;
  border-color: var(--clr-accent);
}

.intro-section-img {
  width: 100%;
  margin-top: -2.5rem;
  margin-left: 2rem;
}

.intro-descr {
  color: var(--clr-dark);
  font-family: var(--ff-secondary);
  width: 60%;
  margin: 2rem auto;
}

.main-heading {
  font-family: var(--ff-primary);
  color: var(--clr-dark);
  font-weight: 400;
  margin: auto;
}

.main-heading strong  {
  color: var(--clr-accent);
}

.paragraph {
  font-family: var(--ff-secondary);
  font-size: var(--fs-body);
}

/* tablet */
@media (min-width: 810px) and (orientation: landscape) {
  .items-container {
    width: 90%;
    display: flex;
    flex-direction: row;
    margin: auto;
  }

  .div-img-bg {
    width: 30%;
    margin-bottom: 4rem;
  }
  
  .intro-section-img {
    width: 100%;
  }
}

/* desktop */
@media (min-width: 1080px) and (orientation: landscape) {
  .items-container {
    width: 90%;
    display: flex;
    flex-direction: row;
    margin: auto;
  }

  .div-img-bg {
    width: 30%;
    margin-bottom: 4rem;
  }
  
  .intro-section-img {
    width: 100%;
  }
}
