.nav-desktop-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.nav-list-desktop {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  padding: 0;
  list-style: none;
  font-family: var(--ff-secondary);
}

.nav__link {
  color: inherit;
  font-weight: 400;
  font-size: var(--fs-h3);
  text-decoration: none;
}

.nav__link:hover {
  color: var(--clr-accent);
}

/* start of hamburger menu for mobile & tablet */
.mobile-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.nav {
  position: fixed;
  background: var(--clr-dark);
  color: var(--clr-light);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  /* enables the flyout menu */
  transform: translateX(100%);
  transition: 250ms cubic-bezier(0.5, 0, 0.5, 1);
}

.nav-list-mobile {
  list-style: none;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: left;
  margin-left: 3.125rem;
  padding: 0;
}

/* complex way of doing hamburger so we can animate */
.nav-toggle {
  padding: 0.5rem;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  right: 1rem;
  top: 1rem;
  z-index: 1000;
}

/* defines width of flyout menu, 45% is the amount the menu does not cover */
.nav-open .nav {
  transform: translateX(45%);
}

.nav-open .nav-toggle {
  position: fixed;
}

.nav-open .hamburger {
  transform: rotate(0.625turn);
}

.nav-open .hamburger::before {
  transform: rotate(90deg) translateX(-0.375rem);
}

.nav-open .hamburger::after {
  opacity: 0;
}

.hamburger {
  display: block;
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  background: var(--clr-accent);
  width: 2rem;
  height: 0.188rem;
  border-radius: 1rem;
  transition: transform 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
}

.hamburger::before {
  top: 0.375rem;
}

.hamburger::after {
  bottom: 0.375rem;
}

/* desktop + tablet landscape*/
  @media (min-width: 1024px) and (orientation: landscape) {
    .nav__link {
      font-size: var(--fs-body);
    }
  }