.section__subtitle--project-shs {
  height: 43%;
  font-size: var(--fs-h3);
}

.section__subtitle--project-shs {
  background: var(--clr-accent);
  color: var(--clr-light);
  padding: 0.25em 1em;
  font-family: var(--ff-secondary);
  margin-bottom: 1em;
}

.portfolio-item-individual {
  padding: 0 2em 2em;
  max-width: 1000px;
  margin: 0 auto;
}

.portfolio-item-individual p {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}

.case-study {
  width: 100%;
}

/* tablet landscape */
@media (min-width: 600px) and (max-width: 899px) {
  .section__title--project-shs {
    font-size: 2.25em;
  }
}

