.my-services {
  background-color: var(--clr-dark);
  color: var(--clr-light);
  text-align: center;
}

.section__title--services {
  position: relative;
}

.services {
  width: 100%;
  margin: 2rem 0;
}

.left_align {
  color: var(--clr-light);
  text-align: left;
}

.service {
  width: 100%;
  margin-bottom: 2rem;
  padding: 1.5rem;
}

/* desktop */
@media (min-width: 1024px) and (orientation: landscape) {
  .services {
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }

  /* + indicator looks at sibling to the right */
  .service + .service {
    margin-left: 2rem;
  }
}

/* psuedo element/decorative bar after title, must have '' with empty content to show up */
/* or currentColor to match accent color */
.section__title--services::after {
  content: "";
  display: block;
  width: 14rem;
  height: 6px;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background: var(--clr-accent);
  opacity: 0.75;
}
