.section__subtitle--project {
  height: 43%;
  font-size: var(--fs-h3);
}

.section__subtitle--project {
  background: var(--clr-accent);
  color: var(--clr-light);
  padding: 0.25rem 1rem;
  font-family: RobotoMono;
  margin-bottom: 1rem;
}

.portfolio-item-individual {
  padding: 0 2rem 2rem;
  max-width: 62.5rem;
  margin: 0 auto;
}

.portfolio-item-individual p {
  max-width: 37.5rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}

.case-study {
  width: 100%;
}

/* tablet landscape */
@media (min-width: 600px) and (orientation: landscape) {
  .section__title--project {
    font-size: 2.5rem;
  }
}

/* tablet portrait */
@media (min-width: 600px) and (orientation: portrait) {
  .section__title--project {
    font-size: 2.5rem;
  }
}
