/* All css is for mobile view, media queries for tablet and desktop */

/* Custom properties, method for declaring re-usable values and can be updated */
:root {
  /* font-family */
  /* primary: "Poppins", sans-serif;
     secondary: "Roboto Mono", sans-serif; */

  /* font-weight */
  /* light: 300;
      bold: 700; */

  /* colors */
  --clr-light: #fff;
  --clr-dark: #242424;
  --clr-accent: #682bd7;

  /* box shadow */
  --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}

/* General styles */
html {
  scroll-behavior: smooth;
}

body {
  background: var(--clr-light);
  color: var(--clr-dark);
  margin: 0;
  font-family: Poppins;
  font-size: var(--fs-body);
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
}

section {
  padding: 5em 2em;
}

strong {
  font-weight: 700;
}

/* creates outline around item on hover */
.btn:focus {
  outline: 3px solid var(--clr-accent);
  outline-offset: 3px;
}

/* Button */
.btn {
  display: flex;
  margin: auto;
  padding: 0.5em 2.5em;
  width: 30rem;
  background: var(--clr-accent);
  color: var(--clr-light);
  text-decoration: none;
  justify-content: center;
  cursor: pointer;
  font-family: RobotoMono;
  font-size: 1.25rem;
  text-transform: lowercase;
  letter-spacing: 2px;
  /* font-weight: var(--fw-bold); */
  transition: transform 200ms ease-in-out;
}

.btn:hover {
  transform: scale(1.1);
  outline: 3px solid var(--clr-accent);
  outline-offset: 3px;
}

.section__title {
  margin-bottom: 0.25em;
}

.section__title--intro {
  display: inline-block;
  font-weight: 300;
}

.section__title--intro strong {
  display: block;
}

.section__subtitle {
  margin: 0;
  font-size: var(--fs-h3);
}

.section__subtitle--intro,
.section__subtitle--about {
  background: var(--clr-accent);
  color: var(--clr-light);
  padding: 0.25em 1em;
  font-family: RobotoMono;
  margin-bottom: 1em;
}