/* smaller text for mobile */
/* font-size 48px, 36px, 20px, 16px */
:root {
  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;

  --ff-primary: PlayfairDisplay;
  --ff-secondary: Poppins;
}

/* Font-face rules outside of :root */
@font-face {
  font-family: PlayfairDisplay;
  src: local("PlayfairDisplay-Regular"),
    url("/fonts/PlayfairDisplay/PlayfairDisplay-Regular.woff2") format("woff2"),
    url("/fonts/PlayfairDisplay/PlayfairDisplay-Regular.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: PlayfairDisplay;
  src: local("PlayfairDisplay-Bold"),
    url("/fonts/PlayfairDisplay/PlayfairDisplay-Bold.woff2") format("woff2"),
    url("/fonts/PlayfairDisplay/PlayfairDisplay-Bold.woff") format("woff");
  font-weight: 700;
}

@font-face {
    font-family: Poppins;
    src: local("poppins-regular"),
      url("../public/fonts/Poppins/Poppins-Regular.woff2") format("woff2"),
      url("../public/fonts/Poppins/Poppins-Regular.woff") format("woff");
    font-weight: 400;
  }
  
  @font-face {
    font-family: Poppins;
    src: local("poppins-bold"),
      url("../public/fonts/Poppins/Poppins-bold.woff2") format("woff2"),
      url("../public/fonts/Poppins/Poppins-bold.woff") format("woff");
    font-weight: 700;
  }
  
  /* Typography */
h1,
h2,
h3 {
  line-height: 1;
  margin: 0;
}

h1 {
  font-size: var(--fs-h1);
  font-family: var(--ff-primary);
}
h2 {
  font-size: var(--fs-h2);
  font-family: var(--ff-primary);
}
h3 {
  font-size: var(--fs-h3);
  font-family: var(--ff-primary);
}

/* desktop + tablet landscape*/
  /* larger font-size for desktop 72px, 60px, 24px, 18px */
@media (min-width: 1024px) and (orientation: landscape) {
    :root {
      --fs-h1: 4rem;
      --fs-h2: 3.75rem;
      --fs-h3: 1.5rem;
      --fs-body: 1.125rem;
    }
  }
